.guides-Guide {
  overflow: hidden;
  pointer-events: none;

  &.active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;

    @media (min-width: 1024px) {
      left: calc((100vw - 800px) / 2);
      right: calc((100vw - 800px) / 2);
    }
  }

  @media (max-width: 350px), (max-height: 600px), print {
    display: none;
  }

  &:focus {
    outline: none;
  }

  .guy {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 576px;
    background-image: url("./guy.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-height: 800px) {
      width: 160px;
      height: 288px;
    }
  }

  .text {
    position: absolute;
    left: 120px;
    bottom: 490px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 3px solid #333;
    border-radius: 60px;
    background-color: #ffffffcc;
    backdrop-filter: blur(5px);
    padding: 25px 30px;
    line-height: 26px;
    color: #333;

    @media (max-height: 800px) {
      left: 60px;
      bottom: 245px;
    }

    .gear,
    .plane {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      vertical-align: text-bottom;
    }

    .gear {
      background-image: url("../trips/gear.svg");
      animation: guides-Guide-text-gear 60s linear infinite;
    }

    .plane {
      background-image: url("../trips/plane.svg");
      animation: guides-Guide-text-plane 5s alternate infinite;
    }
  }
}

@keyframes guides-Guide-text-gear {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes guides-Guide-text-plane {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
