.saves-Share {
  display: flex;
  align-items: center;
  gap: 10px;

  .copy,
  .loading {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      width: 24px;
      height: 24px;
      background-size: contain;
      content: "";
    }
  }

  .loading {
    transition: 1s 0.3s;

    &::after {
      background-image: url(./refresh.svg);
      animation: saves-Share-loading 1s infinite;
    }

    &:not(.active) {
      opacity: 0;
    }
  }

  .url {
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    padding: 5px 10px;
    font-size: 14px;
    transition: 0.3s;

    &:has(+ .copy:active) {
      background-color: #77e4c8;
    }
  }

  .copy {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    transition: 0.3s;

    &::after {
      background-image: url(./copy.svg);
    }

    &:hover {
      background-color: #36c2ce;
    }

    &:active {
      background-color: #77e4c8;
    }
  }
}

@keyframes saves-Share-loading {
  100% {
    transform: rotate(360deg);
  }
}
