.edits-Edit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  .space {
    flex-grow: 1;
  }

  .footer {
    background-color: #f8f8f8;
    padding: 10px 10px;
    text-align: center;
    color: #ddd;

    @media print {
      .link {
        text-decoration: underline;
      }
    }
  }
}
