.edits-ModifyOpenings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 5px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
