.edits-ModifyOpening {
  display: flex;
  align-items: center;
  gap: 10px;

  .delete {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      width: 14px;
      height: 14px;
      background-image: url(./cross.svg);
      background-size: contain;
      content: "";
    }

    &:hover,
    &:active {
      background-color: #77e4c8;
    }
  }
}
