.edits-ModifyOpeningWeekday {
  display: flex;
  gap: 1px;

  .weekday {
    height: 24px;
    min-width: 45px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: default;

    &.active {
      background-color: #77e4c8;
      color: #444;
    }
  }
}
