.edits-ModifyOpenings {
  display: flex;
  align-items: center;
  gap: 30px;

  .add {
    width: 80px;
    height: 28px;
    border-radius: 14px;
    background-color: #77e4c8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    cursor: default;

    &::before {
      margin-right: 4px;
      width: 14px;
      height: 14px;
      background-image: url(./plus.svg);
      background-size: contain;
      content: "";
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
