.edits-View {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    padding: 35px 50px 25px;
    gap: 16px;
  }

  @media (max-width: 600px) {
    padding: 15px 15px 20px 25px;
    gap: 20px;
  }

  > .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .location,
    > .time,
    .duration,
    .remark,
    .openings {
      display: flex;
      align-items: center;

      .label {
        min-width: min(100px, 40%);
        font-size: 14px;
        color: #444;
      }
    }

    .location {
      .value {
        flex: 1;
        max-height: 70px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    > .time {
      display: flex;

      .time {
        margin-left: 10px;
      }
    }

    .remark {
      .value {
        flex: 1;
      }
    }

    > .openings {
      .value {
        flex: 1;
        max-height: 110px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .read {
      margin-left: 100px;
    }
  }
}
