.trips-HeaderView {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @media (min-width: 600px) {
    grid-template: "loading name edit share" auto / auto auto auto auto;
  }

  @media (max-width: 600px) {
    margin-left: 20px;
    margin-right: 8px;
    grid-template: "name edit share" auto / 1fr auto auto;
  }

  &:not(.active) {
    pointer-events: none;
  }

  .loading,
  .edit,
  .view,
  .share {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      width: 24px;
      height: 24px;
      background-size: contain;
      content: "";
    }
  }

  .loading {
    transition: 0.7s;
    animation: trips-HeaderView-loading 1s infinite;

    @media (min-width: 600px) {
      grid-area: loading;
      margin-left: calc(36px + 5px);
    }

    @media (max-width: 600px) {
      grid-area: name;
      justify-self: flex-end;
    }

    &.active {
      transition-delay: 1s;
    }

    &:not(.active) {
      opacity: 0;
    }

    &::after {
      background-image: url(../saves/refresh.svg);
    }
  }

  .name {
    grid-area: name;
    padding: 2px 2px 3px;
    font-size: 32px;
    font-weight: bold;

    @media (max-width: 600px) {
      flex: 1;
    }
  }

  @media print {
    .edit,
    .view,
    .share {
      visibility: hidden;
    }
  }

  .edit,
  .share {
    &:hover,
    &:active {
      background-color: #77e4c8;
    }
  }

  .edit {
    grid-area: edit;

    &::after {
      background-image: url(./gear.svg);
    }
  }

  .view {
    grid-area: edit;
    background-color: #eedf7a;

    &::after {
      background-image: url(./eye.svg);
    }

    &:hover,
    &:active {
      background-color: #d8a25e;
    }
  }

  .share {
    grid-area: share;

    &::after {
      background-image: url(./plane.svg);
    }
  }
}

@keyframes trips-HeaderView-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
