.trips-HeaderName {
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  .view,
  .edit {
    display: flex;
    align-items: center;

    .text {
      margin-left: calc(36px + 5px);
      margin-right: 5px;
      font-size: 32px;
      font-weight: bold;
    }

    .toggle {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        width: 24px;
        height: 24px;
        background-size: contain;
        content: "";
      }

      &:hover,
      &:active {
        background-color: #77e4c8;
      }
    }
  }

  .view {
    .text {
      border-bottom: 1px solid transparent;
    }

    .toggle {
      &::after {
        background-image: url(./gear.svg);
      }
    }

    .viewing {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background-color: #eedf7a;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        width: 24px;
        height: 24px;
        background-image: url(./eye.svg);
        background-size: contain;
        content: "";
      }

      &:hover,
      &:active {
        background-color: #d8a25e;
      }
    }
  }

  .edit {
    .text {
      width: 500px;
      border: none;
      border-bottom: 1px solid #444;
      background-color: transparent;
      text-align: center;
      color: #444;

      &:disabled {
        opacity: 0.4;
      }
    }

    .toggle {
      &::after {
        background-image: url(./tick.svg);
      }
    }
  }
}
