.trips-Slider {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: 0.3s;

  .content {
    min-height: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &.active {
    grid-template-rows: 1fr;

    .content {
      visibility: visible;
    }
  }
}
