@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-y: scroll;
}

input {
  font-family: inherit;
}

a {
  color: inherit;

  &:not(:hover) {
    text-decoration: none;
  }
}
