.lists-List {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;

  .item {
    @media (max-width: 600px) {
      width: 150px;
      height: 50px;
    }

    @media (min-width: 600px) {
      width: 250px;
      height: 100px;
    }
  }

  .space {
    flex: 1;

    &:first-child {
      height: 100px;
    }
  }
}
