.lists-List {
  width: 770px;
  border-top: 1px dashed #ccc;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .space {
    width: 250px;
    height: 100px;

    &:last-child {
      flex: 1;
    }
  }
}
