.desks-Desk {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 30px;

  &:not(.active) {
    pointer-events: none;
  }

  > .table,
  > .list {
    position: relative;
  }

  > .table {
    justify-self: center;
    max-width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > .content {
      width: min-content;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .list {
    border-top: 1px dashed #ccc;

    @media (max-width: 600px) {
      padding: 10px 10px 30px;
    }

    @media (min-width: 600px) {
      justify-self: center;
      width: min(770px, 100vw);
      padding: 20px 10px;
    }
  }
}
