.preview {
  position: relative;

  .display,
  .measure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .display,
  .measure {
    .time,
    .name,
    .location {
      padding-top: 1px;
      padding-bottom: 1px;
    }

    .time,
    .location {
      font-size: 12px;
    }
  }

  .display {
    justify-content: center;
    overflow: hidden;
  }

  .measure {
    visibility: hidden;
  }
}
