.preview {
  position: relative;

  .display,
  .measure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .display,
  .measure {
    .time,
    .location {
      font-size: 12px;
    }
  }

  .display {
    justify-content: center;
  }

  .measure {
    visibility: hidden;
  }
}
